@using EntityLayer.Concrete
@model  List<Blog>

<style>
    table {
        border-collapse: collapse;
        background-color: #fff;
    }

        table tr, table td, table th {
            border: 1px solid #bbb;
            padding: 10px 20px;
        }

        table th {
            background-color:green;
            color: #fff;
            font-weight: 600;
        }
</style>




@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h4  style="color:green" font-family= "Courier New">Bloglarım</h4>




<table class="table table-bordered text-center ">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>


@foreach (var item in Model)
{
    <tr>
        <td>@item.BlogID</td>
        <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
        <td>@item.Category.CategoryName</td>
        <td>
                @if (@item.BlogStatus == true)
                {
                    @Html.Label("Aktif")
                    ;
                }
                else
                {
                    @Html.Label("Pasif")
                    ;
                }
            </td>
		@* 	<td> <a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-outline-danger"></a> Sil </td> *@
            <td><button onclick="confirmDelete(@item.BlogID)" class="btn btn-outline-danger"> Sil</button></td>
            <td> <a href="/Blog/EditBlog/@item.BlogID" class="btn btn-outline-warning">Düzenle</a>  </td>
            @*düzenle butonuna tıklayınca bizi EditBlog viewına atar oradaki işlem bitince bizi bu viewa geri *@

    </tr>
 
}
</table>
<br />
<a href="#" class="btn btn-secondary">Yeni Blog Oluştur</a>

@*Burası popup silmek işleminde önce ekrandan çıkar ve silmek istediğinden emin misiniz sorgusu yapar 
    eğer eminsek blogcontrollerdaki deleteBlog fonksiyonu çalışır ve blogIDye göre blog silinir.
*@
<script>
    function confirmDelete(blogID) {
        var result = confirm("Bu Bloğu Silmek İstediğinize Emin misiniz ?");
        if (result) {
            window.location.href = '/Blog/DeleteBlog/' + blogID;
        }
    }
</script>